<div class="control-group{{#if inherit}} warning{{/if}}">
    <label class="control-label" for="{{path}}">{{text}}</label>
    <div class="controls">
        <div class="pull-left">
            <input id="{{path}}" name="{{path}}" type="{{type}}" value="{{value}}" data-inherit="{{inherit}}">
            {{#if tooltip}}
            <i class="help-popover fa fa-question-circle" data-toggle="tooltip" data-placement="right" data-original-title="{{tooltip}}"></i>
            {{/if}}
        </div>
        {{#if inheritData}}
        <div class="help-inline">
            {{i18n.inherits.partOne}}<strong>{{inheritData.value}}</strong>{{i18n.inherits.partTwo}}<strong>{{inheritData.level}}</strong>
        </div>
        {{/if}}
    </div>
</div>