#provisioner-container {
	max-width: 900px;
	margin: 20px auto 0;
	padding-bottom: 60px;
}
#provisioner-container .action-device {
	white-space: nowrap;
	color: #666666;
}
#provisioner-container .action-device i {
	margin-right: 6px;
	text-decoration: none;
}
#provisioner-container .actions-wrapper {
	height: 40px;
	margin: 20px 0 10px 0;
	padding-left: 18px;
	line-height: 40px;
}
#provisioner-container .actions-wrapper .search-custom {
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 30px;
}
#provisioner-container .actions-wrapper .search-custom > input[type="text"] {
	height: 23px;
}
#provisioner-container .accounts-list .account-section:not(:first-child) {
	margin-top: 8px;
}
#provisioner-container .accounts-list .account-section .account-header {
	height: 70px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #f2f2f2;
	line-height: 70px;
}
#provisioner-container .accounts-list .account-section:first-child .account-header {
	border: 1px solid #CCCCCC;
}
#provisioner-container .accounts-list .account-section .account-header:hover {
	cursor: pointer;
	background: #F0F0F0;
}
#provisioner-container .accounts-list .account-section .account-header .left-part {
	margin-left: 20px;
}
#provisioner-container .accounts-list .account-section .account-header .expandable {
	margin: 0 304px 0 50px;
	font-size: 18px;
}
#provisioner-container .accounts-list .account-section .account-header .right-links .action-device {
	display: inline-block;
	margin-right: 10px;
	padding: 0 10px;
}
#provisioner-container .accounts-list .account-section .account-header .right-links .action-device:hover {
	text-decoration: underline;
	color: #22a5ff;
}
#provisioner-container .accounts-list .account-section .account-header .right-links .action-device > * {
	color: #22a5ff;
}
#provisioner-container .accounts-list .account-section.active .account-header {
	color: #ffffff;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color:#22a5ff;
}
#provisioner-container .accounts-list .account-section.active .account-header .right-links .action-device > * {
	color: #ffffff;
}
#provisioner-container .accounts-list .account-section.active .account-header .right-links .action-device:hover {
	text-decoration: underline;
	color: #fff;
}
#provisioner-container .accounts-list .account-section.animate .account-header {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#provisioner-container .accounts-list .account-section .devices-wrapper {
	display: none;
}
#provisioner-container .accounts-list .account-section.active .devices-wrapper {
	display: block;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box {
	height: 80px;
	margin-top: -1px;
	padding: 5px 0px 5px 50px;
	border: 1px solid #ccc;
	border-bottom-width: 0px;
	line-height: 50px;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .dropdown-toggle {
	background: none;
	margin-top: 15px;
	padding-bottom: 2px;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box:last-child {
	border-bottom-width: 1px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box.selected {
	border-color: #22a5ff;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box.selected + .device-box {
	border-top-color: #22a5ff;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box.no-data {
	height: 60px;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box.no-data:hover {
	cursor: default;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .tooltip {
	font-size: 14px;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .pull-left > div {
	display: inline-block;
	vertical-align: middle;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .device-name,
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .device-mac-address {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .device-name {
	width: 140px;
	max-height: 80px;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .device-mac-address {
	width: 165px;
	margin: 0 10px;
	text-align: center;
	white-space: nowrap;
}
#provisioner-container .accounts-list .account-section .devices-wrapper .device-box .device-brand {
	width:100px;
	height: 80px;
	margin-right: 20px;
}
@media (max-width: 724px) {
	#provisioner-container .device-brand {
		display: none !important;
	}
}
#provisioner-container .breadcrumb {
	background-color: transparent;
}
#provisioner-container .breadcrumb a:hover {
	color: #22a5ff;
}
#provisioner-container .breadcrumb li .divider {
	color: #333;
}
#provisioner-container .breadcrumb li:last-child {
	font-size: 20px;
}
#provisioner-container #nav-bar-horizontal {
	margin-bottom: 40px;
	text-align: center;
}
#provisioner-container #nav-bar-horizontal .switch-link {
	position: relative;
	display: inline-block;
	padding: 20px;
	color: #555;
	border: 1px solid #dcdcdc;
	border-right: 0;
	background-color: #f6f6f6;
	font-size: 18px;
}
#provisioner-container #nav-bar-horizontal .switch-link:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
#provisioner-container #nav-bar-horizontal .switch-link:last-child {
	border-right: 1px solid #dcdcdc;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
#provisioner-container #nav-bar-horizontal .switch-link:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: #eee;
}
#provisioner-container #nav-bar-horizontal .switch-link::before {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 1px;
	height: 100%;
	content: "";
	background-color: #fff;
}
#provisioner-container #nav-bar-horizontal .switch-link.active {
	cursor: default;
	color: #fff;
	background-color: #22a5ff;
}
#provisioner-container #nav-bar-horizontal .switch-link.active::after {
	position: absolute;
	bottom: -15px;
	left: 50%;
	display: block;
	margin-left: -15px;
	content: "";
	border-top: 15px solid #22a5ff;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}
#provisioner-container #nav-bar-horizontal .switch-link:last-child::before,
#provisioner-container #nav-bar-horizontal .switch-link.active::before,
#provisioner-container #nav-bar-horizontal .switch-link:hover::before {
	display: none;
}
#provisioner-container #nav-bar-horizontal .switch-link i {
	display: block;
	margin-bottom: 10px;
}
#provisioner-container #nav-bar-horizontal .switch-link.active i {
	color: #fff;
}
#provisioner-container .settings-content .container {
	display: none;
	max-width: 900px;
}
#provisioner-container .settings-content .container .content:not(.active),
#provisioner-container .settings-content .container .sub-content:not(.active) {
	display: none;
}
#provisioner-container .settings-content .container .content.active,
#provisioner-container .settings-content .container .sub-content.active {
	display: block;
}
#provisioner-container .settings-content .container .content .nav {
	text-align: center;
}
#provisioner-container .settings-content .container .content .nav .switch-sublink {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 36px;
	margin: 0 10px 10px;
	padding: 7px 5px;
	color: #bbb;
	border: 1px solid #bbb;
	border-radius: 18px;
	font-size: 20px;
	font-weight: bold;
}
#provisioner-container .settings-content .container .content .nav .switch-sublink:hover {
	cursor: pointer;
	text-decoration: none;
	color: #777;
	border-color: #777;
}
#provisioner-container .settings-content .container .content .nav .switch-sublink.active,
#provisioner-container .settings-content .container .content .nav .switch-sublink.active:hover {
	cursor: default;
	color: #fff;
	border-color: #22a5ff;
	background-color: #22a5ff;
}
#provisioner-container .settings-content .container .content .control-label {
	width: 240px;
	text-align: left;
}
#provisioner-container .settings-content .container .content .controls {
	margin-left: 280px;
}
#provisioner-container .settings-content .container .content .help-popover {
	margin: 0 0 0 20px;
	vertical-align: middle;
	color: #c4c4c9;
	font-size: 16px;
}
#provisioner-container .settings-content .container .content .help-popover:hover {
	color: #22a5ff;
}
#provisioner-container .settings-content .container .content .controls .help-inline {
	display: none;
	margin-left: 274px;
	padding: 0;
}
#provisioner-container .settings-content .container .content .control-group.warning .help-inline {
	display: inherit;
}
#provisioner-container .settings-content .container .actions {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #E5E5E5;
}
#provisioner-container .settings-content .container .actions #reset {
	margin-left: 10px;
}
#provisioner-container .loading-div {
	padding: 50px;
	text-align: center;
}
#provisioner-container .loading-div .fa-spinner {
	margin-right: 15px;
}
#provisioner-container .loading-div span {
	vertical-align: bottom;
	color: #22a5ff;
	font-size: 20px;
	font-weight: 600;
	line-height: 43px;
}
@media (max-width: 768px) {
	#provisioner-container .switch-link .title {
		display: none;
	}
	#provisioner-container .switch-link i {
		margin-bottom: 0 !important;
	}
	#provisioner-container .help-inline {
		clear: left;
		margin: 0 !important;
	}
	#provisioner-container .control-label {
		width: 160px !important;
	}
	#provisioner-container .controls {
		margin-left: 180px !important;
	}
}